@import url('https://fonts.googleapis.com/css2?family=Beth+Ellen&family=Ubuntu&display=swap');

/* font-family: 'Beth Ellen', cursive;
font-family: 'Ubuntu', sans-serif; */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height:100vh;
  margin: 0;
  font-family: 'Ubuntu', sans-serif;
  line-height: auto;
  overflow-x: hidden;
}

button::-moz-focus-inner, 
input[type="button"]::-moz-focus-inner, 
input[type="submit"]::-moz-focus-inner, 
input[type="reset"]::-moz-focus-inner {
  padding: 0;
  border: 0 none;
}

/* Navbar Styling */
nav {
  background: #111111;
  position: sticky;
  background: rgba(0, 0, 0, 0.96);
  font-family: 'Ubuntu', sans-serif;
  width: 100%;
}

nav .navbar-brand img {
  max-width: 280px;
  max-height: 280px;
  top: 15px;
  margin-right: 300px;
}

nav .nav-item-1 ul {
  display: flex;
  justify-content: space-between;
  top: 25px;
}

nav .nav-item-1 li {
  list-style-type: none;
  text-decoration: none;
}

nav .nav-item-1 li a {
  position: relative;
  top: 10px;
  color: #ffffff;
  padding: 35px;
  font-size: 18px;
  margin: 15px auto;
  text-decoration: none;
} 

nav .nav-item-1 li a:hover {
  color: #EBBA32;
}

nav .nav-item-1 .active{
  color: #EBBA32;
}

nav .nav-item-2 ul{
  display: flex;
  justify-content: space-between;
  position: relative;
}

nav .nav-item-2 li {
  list-style-type: none;
}

nav .nav-item-2 a {
  position: relative;
  top: 10px;
  padding: 35px;
  font-size: 18px;
  color: #ffffff;
  text-decoration: none;
}

nav .nav-item-2 a:hover {
  color: #EBBA32;
}

nav .nav-item-2 .add-btn {
  position: relative;
  top: 10px;
  background: #EBBA32;
  padding: 15px 30px;
  border-radius: 5px;
  color: #ffffff;
}

nav .nav-item-2 .add-btn:hover {
  color: #ffffff;
} 



#main-area{
    
    position: relative;
    top: 100px;
    left: 20px;
    right: 30px;
    overflow: hidden;
    width: 100%;
    max-height: 150vh;
  
}

#main-area .main-content{
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: left;
    align-items: center;
    height: 100%;
    padding: 0 2rem;
    top: 50px;
}

.main-content h3{
    font-family: 'Beth Ellen', cursive;
    color: #FFFFFF;
    font-size: 40px;
    margin: 2rem 0;


}

button:active{
    transform:scale(1.1);
}

.box-headers{
    display:flex;
    flex-direction: row;
    margin: 0 1rem;
    align-items: flex-end;
    padding: 0 10px;
    right: 300px;
}

.first{
    background-color: rgba(190,157,14, 0.5);
    padding: 15px;
    width: 150px;
    color: #ffffff;
}

.first .second h5{
    font-size: 15px;
    
}

.second{
    background-color: #bb8a03;
    padding: 15px;
    width: 150px;
    color: #ffffff;
}

.box-contents{
    padding: 57px 32px;
    margin: 0 2rem;
}

.main-box{
    width: 900px;
    height: 180px;
    border-radius: 15px;
    background-color: rgba(190,157,14, 0.5);
    align-content: center;
    
}

select{
    padding: 12px 0;
    outline: none;
    width: 22%;
    border-radius: 4px;
    border: none;
}

input[type=text]{
    padding: 12px 40px;
    outline: none;
    border-radius: 4px;
    border: none;
    width: 35%;
}

.input-icon i{
    position: absolute;
    padding: 13px;
    color: gray;
}

.search-btn {

    width: 90px;
    height: 42px;
    background: #EBBA32;
    border: none;
    color: #000000;
    padding: 8px;
    font-weight: bold;
    font-size: 14px;
    border-radius: 5px;

}

.search-btn:hover {
    background: #bb8a03;
  }

  .email-box{
    height: 40px;
    display: flex;
    justify-content: center;

}


  /* .email-box:hover > .tbox,.tbot:focus{
      width: 260px;
      padding: 0 10px;
  } */

  .tbox, .bot{
    border: none;
    outline: none;
}



.bot{ 
    width: 80px;
    background-color: #EBBA32;
    border-radius: 2px;
}





select:invalid{
    color: gray;
}
option{
    color: black;
}


/* FOOTER */
footer {
  background: #111111;
  color: #ffffff;
}

.footer-container {
  margin: auto;
  max-width: 90%;
  padding: 10px;
  text-align: center;
}

.footer-container img {
  max-width: 400px;
  max-height: 400px;
  margin: 20px;
}

.footer-container h3 {
  color: #EBBA32;
  text-align: center;
}

.footer-container .row {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  padding: 50px;
}

.row .quick li {
  list-style-type: none;
}

.row .quick a {
  text-decoration: none;
  color: #ffffff;
  line-height: 1.8;
}

.row .quick a:hover {
  color: #EBBA32;
}

.newsletter {
  margin: auto;
  text-align: center;
  max-width: 70%;
}

.newsletter input {
  max-width: 100%;
  margin: 5px 5px;
  padding: 5px;
}

.newsletter button {
  background: #EBBA32;
  color: #000000;
  margin: auto;
}

.follow-us span {
  padding: 13px;
  border-bottom: 1px dotted #333;
}

.follow-us span i {
  padding: 10px;
  font-size: 24px;
}

.follow-us span i:hover {
  color: #EBBA32;
}

.follow-us  p {
  padding: 15px;
}

  /* RESPONSIVENESS*/
  @media (max-width:1024px) {

    /* HAMBURGER MENU */
    #navbar .content-2 {
      height: 300px;
      position: fixed;
      top: 0;
      right: 0;
      left: 0;
      z-index: 10;
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      background: #000000;
      color: #EBBA32;
      transition: top 1s ease;
      padding: 25px 300px;
      margin-top: 70px;
      display: none;
    }
  
    #navbar .content-2 .nav-item-1 ul {
      display: flex;
      flex-direction: column;
    }
  
    #navbar .content-2 .nav-item-2 ul {
      display: flex;
      flex-direction: column;
    }
  
    #navbar .content-2 li {
      padding: 12px;
    }
  
    #navbar .content-2 .closeMenu {
      display: block;
      position: absolute;
      top: 20px;
      right: 30px;
    }
  
    #navbar .content-2 .closeMenu i {
      color: #EBBA32;
    }
  
    #navbar .content-2 .openMenu {
        display: block;
        position: absolute;
        top: 20px;
        right: 30px;
    }

    @media (max-width:768px){
        #navbar .content-2 {
            height: 300px;
            position: fixed;
            top: 0;
            right: 0;
            left: 0;
            z-index: 10;
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            background: #000000;
            color: #EBBA32;
            transition: top 1s ease;
            padding: 25px 300px;
            margin-top: 70px;
            display: none;
          }
        
          #navbar .content-2 .nav-item-1 ul {
            display: flex;
            flex-direction: column;
          }
        
          #navbar .content-2 .nav-item-2 ul {
            display: flex;
            flex-direction: column;
          }
        
          #navbar .content-2 li {
            padding: 12px;
          }
        
          #navbar .content-2 .closeMenu {
            display: inline;
            position: absolute;
            top: 20px;
            right: 30px;
          }
        
          #navbar .content-2 .closeMenu i {
            color: #EBBA32;
          }
        
          #navbar .content-2 .openMenu {
              display: block;
              position: absolute;
              top: 20px;
              right: 30px;
          }     
          
          footer {
            margin: 150px 0 0 0;
          }

    }
  }