@import url('https://fonts.googleapis.com/css2?family=Beth+Ellen&family=Ubuntu&display=swap');

/* font-family: 'Beth Ellen', cursive;
font-family: 'Ubuntu', sans-serif; */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body{ height:100%; margin:0; }

button::-moz-focus-inner, 
input[type="button"]::-moz-focus-inner, 
input[type="submit"]::-moz-focus-inner, 
input[type="reset"]::-moz-focus-inner {
  padding: 0;
  border: 0 none;
}

body{
    font-family: 'Ubuntu', sans-serif;
    line-height: auto;
    background: url('../img/landing-bg.jpg') no-repeat center center/cover;
    max-width: 100%;
}

#navbar{

    position: sticky;
    background: rgba(0, 0, 0, 0.96);
    font-family: 'Ubuntu', sans-serif;
    height: 75px;
    width: 100%;
}

#navbar .navbar-content {
    display: flex;
    justify-content: space-between;
    margin: auto;
    max-width: 96%;
  }

  
  /* NAVBAR LOGO STYLING*/
  .navbar-content .content-1 img {
    position: relative;
    top: 15px;
    height: 40px;
  }
  
  #navbar .openMenu {
    font-size: 2rem;
    color: #ffe4c4;
    margin: 20px;
    cursor: pointer;
    display: none;
  }
  
  /* CONTENT-2 STYLING */
  .navbar-content .content-2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 150px;
  }
  
  .navbar-content .content-2 .nav-item-1 ul {
    display: flex;
    justify-content: space-between;
    position: relative;
    top: 25px;
  }
  
  .navbar-content .content-2 .nav-item-1 > li {
    list-style-type: none;
    margin: 0 5rem;
  }
  
  .navbar-content .content-2 .nav-item-1 a {
    text-decoration: none;
    color: #ffffff;
    padding: 5px;
    font-size: 15px;
  }
  
  .navbar-content .content-2 .nav-item-1 a:hover {
    color: #EBBA32;
  }
  
  .navbar-content .content-2 .nav-item-1 .active {
    color: #EBBA32;
  }
  
  .navbar-content .content-2 .nav-item-2 ul {
    display: flex;
    justify-content: space-between;
    position: relative;
    top: 25px;
  }
  
  .navbar-content .content-2 .nav-item-2 li {
    list-style-type: none;
  }
  
  .navbar-content .content-2 .nav-item-2 a {
    text-decoration: none;
    color: #ffffff;
    padding: 20px;
    font-size: 15px;
  }
  
  .navbar-content .content-2 .nav-item-2 .add-btn {
    background: #EBBA32;
    color: #ffffff;
    padding: 15px;
    border-radius: 5px;
  }
  .navbar-content .content-2 .nav-item-2 .add-btn:hover {
    background: #aa7d02;
    color: #ffffff;
    padding: 15px;
    border-radius: 5px;
  }
  
  #navbar .closeMenu {
    font-size: 2rem;
    color: #ffe4c4;
    cursor: pointer;
    display: none;
  }
/* 
#navbar img{
    position: relative;
    max-width: 230px;
    max-height: 118px;
    padding: 0 1rem;

}



/* Second Set of Nav items*/

.navbar-content .second-set ul{
    display: flex;
    justify-content: space-between;
    list-style: none;
    position: relative;
    top: 8px;
    
}

.navbar-content .second-set ul li{
    margin: 0 2rem;
}

.navbar-content .second-set a {
    text-decoration: none;
    color: #ffffff;
    padding: 17px;
    font-size: 15px;
  }

  .navbar-content .second-set a:hover {
    color: #EBBA32;
  }

  .navbar-content .second-set .active {
    color: #EBBA32;
  }
  

  /* Third-Set of Nav items*/



  .navbar-content .third-set ul {
    display: flex;
    justify-content: space-between;
    position: relative;
    top: 8px;
    margin: 0 0 0 2rem;
  }

  .navbar-content .third-set li {
    list-style-type: none;
  }

  .navbar-content .third-set a {
    text-decoration: none;
    color: #ffffff;
    font-size: 15px;
    padding: 17px;
  }

  .navbar-content .third-set a:hover {
    color: #EBBA32;
  }

  .navbar-content .third-set .nav-btn {
    top: 4px;
    background: #EBBA32;
    border: none;
    color: #ffffff;
    padding: 7px;
    border-radius: 5px;
    
}



  .navbar-content .third-set .nav-btn:hover {
    background: #bb8a03;
    color: #ffffff;
  } */



#main-area{
    
    position: relative;
    top: 100px;
    left: 20px;
    right: 30px;
    overflow: hidden;
    width: 100%;
    max-height: 150vh;
  
}

#main-area .main-content{
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: left;
    align-items: center;
    height: 100%;
    padding: 0 2rem;
    top: 50px;
}

.main-content h3{
    font-family: 'Beth Ellen', cursive;
    color: #FFFFFF;
    font-size: 40px;
    margin: 2rem 0;


}

button:active{
    transform:scale(1.1);
}


.box-headers{
  display:flex;
  flex-direction: row;
  margin: 0 1rem;
  align-items: flex-end;
  padding: 0 10px;
  right: 300px;
}

.first .second h5{
    font-size: 15px;
    
}
.first{
    background-color: rgba(190,157,14, 0.5);
    padding: 15px;
    width: 150px;
    color: #ffffff;
}


.second{
    background-color: #bb8a03;
    padding: 15px;
    width: 150px;
    color: #ffffff;
}

.box-contents{
    padding: 57px 32px;
    margin: 0 2rem;
}

.main-box{
    width: 900px;
    height: 180px;
    border-radius: 15px;
    background-color: rgba(190,157,14, 0.5);
    align-content: center;
    
}

select{
    padding: 12px 0;
    outline: none;
    width: 22%;
    border-radius: 4px;
    border: none;
}

input[type=text]{
    padding: 12px 40px;
    outline: none;
    border-radius: 4px;
    border: none;
    width: 35%;
}

.input-icon i{
    position: absolute;
    padding: 13px;
    color: gray;
}

.search-btn {

    width: 90px;
    height: 42px;
    background: #EBBA32;
    border: none;
    color: #000000;
    padding: 8px;
    font-weight: bold;
    font-size: 14px;
    border-radius: 5px;

}

.search-btn:hover {
    background: #bb8a03;
  }

  .email-box{
    height: 40px;
    display: flex;
    justify-content: center;

}


  /* .email-box:hover > .tbox,.tbot:focus{
      width: 260px;
      padding: 0 10px;
  } */

  .tbox, .bot{
    border: none;
    outline: none;
}



.bot{ 
    width: 80px;
    background-color: #EBBA32;
    border-radius: 2px;
}





select:invalid{
    color: gray;
}
option{
    color: black;
}

/* Footer Styling*/

footer {
    background: #000000;
    box-sizing: border-box;
    position: absolute;
    width: 100%;
    margin: 140px 0 0 0;
  }
  
  .footer-container {
    margin: auto;
    max-width: 80%;
  }
  
  .footer-container .subscribe {
    text-align: center;
    padding: 10px;
  }
  
  .footer-container .subscribe h1 {
    font-family: 'Ubuntu', sans-serif;
    color: #EBBA32;
    font-size: 15px;
    padding: 10px;
  }
  
  .footer-container .subscribe input {
    padding: 5px;
  }
  
  .footer-container .subscribe button {
    padding: 5px;
    background: #EBBA32;
    color: #000000;
    border: none;
    Height: 30px;
  }
  
  .footer-container .footer-flex {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 12px;
  }
  
  .footer-container .footer-flex hr {
    color: #EBBA32;
  }
  
  .footer-container .footer-flex .social-icon i {
    color: #EBBA32;
    padding: 10px;
  }
  
  .footer-container .footer-flex .social-icon i:hover {
    font-size: 18px;
  }
  
  .footer-container .footer-flex .elite {
    padding-top: 10px;
    font-family: 'Ubuntu', sans-serif;
    font-size: 13px;
    color: #EBBA32;
  }

  /* RESPONSIVENESS*/
  @media (max-width:1024px) {

    /* HAMBURGER MENU */
    #navbar .content-2 {
      height: 300px;
      position: fixed;
      top: 0;
      right: 0;
      left: 0;
      z-index: 10;
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      background: #000000;
      color: #EBBA32;
      transition: top 1s ease;
      padding: 25px 300px;
      margin-top: 70px;
      display: none;
    }
  
    #navbar .content-2 .nav-item-1 ul {
      display: flex;
      flex-direction: column;
    }
  
    #navbar .content-2 .nav-item-2 ul {
      display: flex;
      flex-direction: column;
    }
  
    #navbar .content-2 li {
      padding: 12px;
    }
  
    #navbar .content-2 .closeMenu {
      display: block;
      position: absolute;
      top: 20px;
      right: 30px;
    }
  
    #navbar .content-2 .closeMenu i {
      color: #EBBA32;
    }
  
    #navbar .content-2 .openMenu {
        display: block;
        position: absolute;
        top: 20px;
        right: 30px;
    }

    @media (max-width:768px){
        #navbar .content-2 {
            height: 300px;
            position: fixed;
            top: 0;
            right: 0;
            left: 0;
            z-index: 10;
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            background: #000000;
            color: #EBBA32;
            transition: top 1s ease;
            padding: 25px 300px;
            margin-top: 70px;
            display: none;
          }
        
          #navbar .content-2 .nav-item-1 ul {
            display: flex;
            flex-direction: column;
          }
        
          #navbar .content-2 .nav-item-2 ul {
            display: flex;
            flex-direction: column;
          }
        
          #navbar .content-2 li {
            padding: 12px;
          }
        
          #navbar .content-2 .closeMenu {
            display: inline;
            position: absolute;
            top: 20px;
            right: 30px;
          }
        
          #navbar .content-2 .closeMenu i {
            color: #EBBA32;
          }
        
          #navbar .content-2 .openMenu {
              display: block;
              position: absolute;
              top: 20px;
              right: 30px;
          }     
          
          footer {
            margin: 150px 0 0 0;
          }

    }