        @import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');
        *,
         ::before,
         ::after {
            box-sizing: border-box;
            margin: 0;
            padding: 0;
        }
        
        .logo {
            width: 250px;
        }
        /* NAVBAR STYLING */
        
        header {
            background: rgba(0, 0, 0, 0.96);
            font-family: 'Ubuntu', sans-serif;
            height: 75px;
            width: 100%;
        }
        
        #navbar .navbar-content {
            display: flex;
            justify-content: space-between;
            margin: auto;
            max-width: 96%;
        }
        /* NAVBAR LOGO STYLING*/
        
        .navbar-content .content-1 img {
            position: relative;
            top: 15px;
        }
        
        .logo {
            width: 250px;
        }
        /* CONTENT-2 STYLING */
        
        .navbar-content .content-2 {
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-gap: 120px;
        }
        
        .navbar-content .content-2 .nav-item-1 ul {
            display: flex;
            justify-content: space-between;
            position: relative;
            top: 25px;
        }
        
        .navbar-content .content-2 .nav-item-1 li {
            list-style-type: none;
        }
        
        .navbar-content .content-2 .nav-item-1 a {
            text-decoration: none;
            color: #ffffff;
            padding: 5px;
            font-size: 15px;
        }
        
        .navbar-content .content-2 .nav-item-1 a:hover {
            color: #EBBA32;
        }
        
        .navbar-content .content-2 .nav-item-2 a:hover {
            color: #EBBA32;
        }
        
        .navbar-content .content-2 .nav-item-1 .active {
            color: #EBBA32;
        }
        
        .navbar-content .content-2 .nav-item-2 ul {
            display: flex;
            justify-content: space-between;
            position: relative;
            top: 25px;
        }
        
        .navbar-content .content-2 .nav-item-2 li {
            list-style-type: none;
        }
        
        .navbar-content .content-2 .nav-item-2 a {
            text-decoration: none;
            color: #ffffff;
            padding: 20px;
            font-size: 15px;
        }
        
        .navbar-content .content-2 .nav-item-2 .active {
            background: #EBBA32;
            color: #ffffff;
            padding: 15px;
            border-radius: 5px;
        }
        
        #navbar .closeMenu {
            font-size: 2rem;
            color: #ffe4c4;
            cursor: pointer;
            display: none;
        }
        /* Login body*/
        
        #login-container {
            background: #FEFEFE;
            border-radius: 33px;
            padding: 10px;
            overflow: hidden;
        }
        
        #login-container .login-wrapper {
            display: flex;
            flex-flow: row nowrap;
            justify-content: space-around;
        }
        
        .login-image img {
            width: 500px;
            height: 550px;
            border-radius: 32px;
            filter: grayscale(0.7);
            -webkit-filter: grayscale(0.7);
        }
        
        .login-details .login-image {
            display: flex;
        }
        
        .login-details {
            margin-top: 80px;
        }
        
        .dark-color {
            color: #313236;
        }
        
        .light-color {
            color: #5A656F;
        }
        
        .login-details #heading {
            text-align: center;
            font-style: normal;
            font-weight: bold;
            font-size: 30px;
            line-height: 42px;
            margin-bottom: 10px;
        }
        
        .login-details button {
            width: 200px;
            height: 30px;
            border-radius: 10px;
            border: 1px solid #313236;
            margin-bottom: 15px;
        }
        
        .fb-btn {
            margin-right: 10px;
            background-color: #313236;
            color: #fff;
        }
        
        .fb-btn:hover {
            background-color: #8b8c91;
        }
        
        .twitter-btn {
            background-color: #FEFEFE;
            color: #000;
        }
        
        .twitter-btn:hover {
            background-color: #EBBA32;
        }
        
        .or {
            font-size: 15px;
            color: #ACBDD0;
            text-align: center;
        }
        
        .login-form label {
            color: #5A656F;
        }
        
        .login-form input[type=email],
        [type=password] {
            outline: none;
            border-left: none;
            border-right: none;
            border-top: none;
            width: 100%;
            border-bottom: 1px #313236 solid;
            margin-bottom: 20px;
        }
        
        .login-form a {
            margin-left: 200px;
        }
        
        .none {
            text-decoration: none;
        }
        
        .login-form button[type=submit] {
            border-radius: 10px;
            background-color: #EBBA32;
            color: #fff;
            margin-top: 25px;
            margin-bottom: 15px;
        }
        
        .login-form button[type=submit]:hover {
            background-color: #ece914;
        }
        
        @media(max-width: 468px) {
            .login-form a {
                margin-left: 40px;
            }
        }
        /* RESPONSIVENESS */
        /* Tablet */
        
        @media (max-width:768px) {
            /* HAMBURGER MENU */
            #navbar .content-2 {
                height: 300px;
                position: fixed;
                top: 0;
                right: 0;
                left: 0;
                z-index: 10;
                display: grid;
                grid-template-columns: repeat(2, 3fr);
                background: #000000;
                color: #EBBA32;
                transition: top 1s ease;
                padding: 25px 100px;
                margin-top: 70px;
                display: none;
            }
        }
        
        @media (max-width:468px) {
            /* HAMBURGER MENU */
            #navbar .content-2 {
                height: 300px;
                position: fixed;
                top: 0;
                right: 0;
                left: 0;
                z-index: 10;
                display: grid;
                grid-template-columns: repeat(2, 1fr);
                background: #000000;
                color: #EBBA32;
                transition: top 1s ease;
                padding: 15px 30px;
                margin-top: 70px;
                display: none;
            }
            #navbar .content-2 .nav-item-1 ul {
                display: flex;
                flex-direction: column;
            }
            #navbar .content-2 .nav-item-2 ul {
                display: flex;
                flex-direction: column;
            }
            #navbar .content-2 li {
                padding: 12px;
            }
            #navbar .content-2 .closeMenu {
                display: block;
                position: absolute;
                top: 20px;
                right: 30px;
            }
            #navbar .content-2 .closeMenu i {
                color: #EBBA32;
            }
            #navbar .openMenu {
                display: block;
                top: 20px;
                left: 0;
            }
            #navbar .openMenu {
                font-size: 2rem;
                color: #ffe4c4;
                margin: 10px;
                cursor: pointer;
                /* display: none; */
            }
        }
        
        @media(max-width: 768px) {
            .navbar-content .content-1 .logo {
                width: 210px;
            }
            .login-image img {
                display: none;
            }
            .login-details {
                margin-top: 10px;
                margin-left: 10px;
            }
            .login-details button {
                margin-left: 50px;
            }
            .login-form a {
                margin-left: 80px;
            }
            .login-form input[type=email],
            [type=password] {
                margin-bottom: 10px;
            }
        }
        /* FOOTER STYLING */
        
        footer {
            background: #000000;
        }
        
        .footer-container {
            margin: auto;
            max-width: 80%;
        }
        
        .footer-container .subscribe {
            text-align: center;
            padding: 10px;
        }
        
        .footer-container .subscribe h1 {
            font-family: 'Ubuntu', sans-serif;
            color: #EBBA32;
            font-size: 15px;
            padding: 10px;
        }
        
        .footer-container .subscribe input {
            padding: 5px;
        }
        
        .footer-container .subscribe button {
            padding: 5px;
            background: #EBBA32;
            color: #000000;
        }
        
        .footer-container .footer-flex {
            display: flex;
            flex-direction: column;
            text-align: center;
            padding: 12px;
        }
        
        .footer-container .footer-flex hr {
            color: #EBBA32;
        }
        
        .footer-container .footer-flex .social-icon i {
            color: #EBBA32;
            padding: 10px;
        }
        
        .footer-container .footer-flex .social-icon i:hover {
            font-size: 18px;
        }
        
        .footer-container .footer-flex .elite {
            padding-top: 10px;
            font-family: 'Ubuntu', sans-serif;
            font-size: 13px;
            color: #EBBA32;
        }