@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');
*,
::before,
::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


/* NAVBAR STYLING */

header {
    background: rgba(0, 0, 0, 0.96);
    font-family: 'Ubuntu', sans-serif;
    height: 75px;
}

#navbar .navbar-content {
    display: flex;
    justify-content: space-between;
    margin: auto;
    max-width: 96%;
}


/* NAVBAR LOGO STYLING*/

.navbar-content .content-1 {
    position: relative;
    top: 15px;
}


/* CONTENT-2 STYLING */

.navbar-content .content-2 ul {
    display: flex;
    justify-content: space-between;
    position: relative;
    top: 25px;
}

.navbar-content .content-2 li {
    list-style-type: none;
}

.navbar-content .content-2 a {
    text-decoration: none;
    color: #ffffff;
    padding: 17px;
    font-size: 15px;
}

.navbar-content .content-2 a:hover {
    color: #EBBA32;
}

.navbar-content .content-2 .active {
    color: #EBBA32;
}


/* CONTENT-3 STYLING */

.navbar-content .content-3 ul {
    display: flex;
    justify-content: space-between;
    position: relative;
    top: 25px;
}

.navbar-content .content-3 li {
    list-style-type: none;
}

.navbar-content .content-3 a {
    text-decoration: none;
    color: #ffffff;
    font-size: 15px;
    padding: 17px;
}

.navbar-content .content-3 a:hover {
    color: #EBBA32;
}

.navbar-content .content-3 .active {
    background: #EBBA32;
    color: #ffffff;
    padding: 15px;
    border-radius: 5px;
}

.navbar-content .content-3 .active:hover {
    color: #ffffff;
}


/* Login body*/

#login-container {
    background: #FEFEFE;
    border-radius: 33px;
    padding: 10px;
    overflow: hidden;
}

#login-container .login-wrapper {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
}

.login-image img {
    width: 500px;
    height: 550px;
    border-radius: 32px;
    filter: grayscale(0.7);
    -webkit-filter: grayscale(0.7);
}

.login-details .login-image {
    display: flex;
}

.login-details {
    margin-top: 80px;
}

.dark-color {
    color: #313236;
}

.light-color {
    color: #5A656F;
}

.login-details #heading {
    text-align: center;
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: 42px;
    margin-bottom: 10px;
}

.login-details button {
    width: 200px;
    height: 30px;
    border-radius: 10px;
    border: 1px solid #313236;
    margin-bottom: 15px;
}

.fb-btn {
    margin-right: 10px;
    background-color: #313236;
    color: #fff;
}

.fb-btn:hover {
    background-color: #8b8c91;
}

.twitter-btn {
    background-color: #FEFEFE;
    color: #000;
}

.twitter-btn:hover {
    background-color: #EBBA32;
}

.or {
    font-size: 15px;
    color: #ACBDD0;
    text-align: center;
}

.login-form label {
    color: #5A656F;
}

.login-form input[type=email],
[type=password] {
    outline: none;
    border-left: none;
    border-right: none;
    border-top: none;
    width: 100%;
    border-bottom: 1px #313236 solid;
    margin-bottom: 20px;
}

.login-form a {
    margin-left: 200px;
}

.none {
    text-decoration: none;
}

.login-form button[type=submit] {
    border-radius: 10px;
    background-color: #EBBA32;
    color: #fff;
    margin-top: 25px;
    margin-bottom: 15px;
}

.login-form button[type=submit]:hover {
    background-color: #ece914;
}