@import url('https://fonts.googleapis.com/css2?family=Beth+Ellen&family=Ubuntu&display=swap');


/* RESET */
*,
::before,
::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Navbar Styling */
nav {
  background: #111111;
  position: sticky;
  background: rgba(0, 0, 0, 0.96);
  font-family: 'Ubuntu', sans-serif;
  width: 100%;
  padding: 40px 0;
}

nav .navbar-brand img {
  max-width: 230px;
  max-height: 230px;
  top: 15px;
  margin-right: 300px;
}

nav .nav-item-1 ul {
  display: flex;
  justify-content: space-between;
  top: 25px;
}

nav .nav-item-1 li {
  list-style-type: none;
  text-decoration: none;
}

nav .nav-item-1 li a {
  position: relative;
  top: 10px;
  color: #ffffff;
  padding: 20px;
  font-size: 15px;
  margin: 15px auto;
  text-decoration: none;
} 

nav .nav-item-1 li a:hover {
  color: #EBBA32;
}

nav .nav-item-1 .active{
  color: #EBBA32;
}

nav .nav-item-2 ul{
  display: flex;
  justify-content: space-between;
  position: relative;
}

nav .nav-item-2 li {
  list-style-type: none;
}

nav .nav-item-2 a {
  position: relative;
  top: 10px;
  padding: 8px;
  font-size: 15px;
  color: #ffffff;
  text-decoration: none;
}

nav .nav-item-2 a:hover {
  color: #EBBA32;
}

nav .nav-item-2 .add-btn {
  position: relative;
  top: 10px;
  background: #EBBA32;
  padding: 10px 20px;
  border-radius: 5px;
  color: #ffffff;
}

nav .nav-item-2 .add-btn:hover {
  color: #ffffff;
} 

/* Pricing Table */

.title{
    display: grid;
    justify-content: center;
    margin: 2rem 0;
}
.title h3{
    font-family: 'Beth Ellen', cursive;
    font-size: 40px;
    font-weight: bold;
    align-items: center;
}

.title p{
    font-family: 'Ubuntu', sans-serif;
    font-size: 18px;
}

.pricing-table {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: min(1400px, 80%);
    margin: 2rem 8rem;
}

.pricing-card {
    flex: 1;
    max-width: 360px;
    background-color: #EBBA32;
    margin: 20px 10px;
    text-align: center;
    cursor: pointer;
    overflow: hidden;
    color: #2e2e2e;
    transition: .3s linear;
    border: 1px solid black;
    border-radius: 10px;

}

.pricing-card-header {
    font-family: 'Ubuntu', sans-serif;
    background-color: black;
    display: inline-block;
    color: #EBBA32;
    padding: 12px 30px;
    border-radius: 0 0 20px 20px;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 600;
    transition: .4s linear;
}

.pricing-card:hover .pricing-card-header {
    box-shadow: 0 0 0 26em black;
}

.price {
    font-family: 'Ubuntu', sans-serif;
    font-size: 40px;
    color: black;
    margin: 20px 0;
    transition: .2s linear;
}

.price sup,
.price span {
    font-size: 18px;
    font-weight: 600;
}

.pricing-card:hover,
.pricing-card:hover .price {
    color: #EBBA32;
}

.pricing-card li {
    font-family: 'Ubuntu', sans-serif;
    font-size: 14px;
    padding: 10px 0;
    text-transform: uppercase;
}

.order-btn {
    display: inline-block;
    margin-bottom: 40px;
    margin-top: 80px;
    border: 2px solid black;
    border-radius: 5px;
    color: black;
    padding: 10px 40px;
    text-transform: uppercase;
    font-weight: 500;
    transition: .3s linear;
    text-decoration: none;
    font-family: 'Ubuntu', sans-serif;
}

.order-btn:hover {
    background-color: black;
    color: #ffe4c4;
}


/* FOOTER STYLING */
footer {
  background: #111111;
  color: #ffffff;
}

.footer-container {
  margin: auto;
  max-width: 90%;
  padding: 10px;
  text-align: center;
}

.footer-container img {
  max-width: 280px;
  max-height: 280px;
  margin: 20px;
}

.footer-container h3 {
  color: #EBBA32;
  font-size: 20px;
  text-align: center;
}

.footer-container .row {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  padding: 50px;
}

.row .quick li {
  list-style-type: none;
}

.row .quick a {
  text-decoration: none;
  color: #ffffff;
  line-height: 1.8;
}

.row .quick a:hover {
  color: #EBBA32;
}

.newsletter {
  text-align: center;
  max-width: 95%;
}

.newsletter input {
  max-width: 70%;
  margin: 5px 0px;
  padding: 5px;
  border-radius: 5px 0 0 5px;
}
.form-inline{
  display: flex;
}

.newsletter button {
  background: #EBBA32;
  color: #000000;
  border-radius: 0 5px 5px 0;

}

.follow-us span {
  padding: 13px;
  border-bottom: 1px dotted #333;
}

.follow-us span i {
  padding: 10px;
  font-size: 24px;
  
}

.follow-us span i:hover {
  color: #EBBA32;
}

.follow-us  p {
  padding: 15px;
}


/* Desktop Size*/
@media (max-width:1024px) {
  nav .navbar-brand img {
    max-width: 220px;
    max-height: 220px;
    top: 15px;  
    margin-right: 70px;
  }

    /* NAVBAR */
  .nav-flex {
    display: grid;
    grid-template-columns: 2fr 1fr;
  }

  nav .nav-item-1 a {
    position: relative;
    top: 10px;
    color: #ffffff;
    padding: 0 20px;
    font-size: 13px;
    margin: 15px auto;
    text-decoration: none;
 }

  nav .nav-item-2 li a {
    font-size: 13px;
    padding: 0 20px;
  }

  nav .nav-item-2 .add-btn {
  position: relative;
  top: 10px;
  background: #EBBA32;
  padding: 10px 10px;
  border-radius: 5px;
  color: #ffffff;
  }

  nav .nav-item-2 .add-btn:hover {
  color: #ffffff;
  }

    /* FOOTER */

  footer{
  position: fixed;
  }
  
  .footer-container {
    margin: auto;
    max-width: 98%;
    padding: 10px;
    text-align: center;
  }

  .footer-container img {
    max-width: 250px;
    max-height: 250px;
  }

  .footer-container h3 {
    font-size: 17px;
  }

  .row .about-us p {
    font-size: 13px;
  }

  .row .quick a {
    font-size: 13px;
  }

  .newsletter input {
    max-width: 60%;
    margin: 5px 5px;
    padding: 5px;
  }

  .follow-us span i {
    font-size: 17px;
  }

  .follow-us p {
    font-size: 13px;
  }
}




/* Responsiveness*/
/* Larger Desktop Size*/
@media (max-width:1440px) {
  .nav-flex {
    display: flex;
    justify-content: space-evenly;
  }

  nav .nav-item-1 a {
    position: relative;
    top: 10px;
    color: #ffffff;
    padding: 27px;
    font-size: 15px;
    margin: 15px auto;
    text-decoration: none;
 }

  nav .nav-item-2 li a {
    font-size: 15px;
    padding: 23px;
  }

  nav .nav-item-2 .add-btn {
    position: relative;
    top: 10px;
    background: #EBBA32;
    padding: 15px 10px;
    border-radius: 5px;
    color: #ffffff;
  }
}

/* Desktop Size*/
@media (max-width:1024px) {
  nav .navbar-brand img {
    max-width: 220px;
    max-height: 220px;
    top: 15px;  
    margin-right: 70px;
  }

    /* NAVBAR */
  .nav-flex {
    display: grid;
    grid-template-columns: 2fr 1fr;
  }

  nav .nav-item-1 a {
    position: relative;
    top: 10px;
    color: #ffffff;
    padding: 0 20px;
    font-size: 13px;
    margin: 15px auto;
    text-decoration: none;
 }

  nav .nav-item-2 li a {
    font-size: 13px;
    padding: 0 20px;
  }

  nav .nav-item-2 .add-btn {
  position: relative;
  top: 10px;
  background: #EBBA32;
  padding: 10px 10px;
  border-radius: 5px;
  color: #ffffff;
  }

  nav .nav-item-2 .add-btn:hover {
  color: #ffffff;
  }

  /* Pricing Table Styling */
  .pricing-table {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
  }

    /* FOOTER */
  .footer-container {
    margin: auto;
    max-width: 98%;
    padding: 10px;
    text-align: center;
  }

  .footer-container img {
    max-width: 250px;
    max-height: 250px;
  }

  .footer-container h3 {
    font-size: 17px;
  }

  .row .about-us p {
    font-size: 13px;
  }

  .row .quick a {
    font-size: 13px;
  }

  .newsletter input {
    max-width: 60%;
    margin: 5px 5px;
    padding: 5px;
  }

  .follow-us span i {
    font-size: 17px;
  }

  .follow-us p {
    font-size: 13px;
  }
}


/* Tablet Size */
@media (max-width:768px) { 
  /* Navbar */
  nav .navbar-toggler {
    background: #EBBA32;
    font-size: 17px;
  }

  .nav-item-1 ul {
    display: flex;
    flex-direction: column;
  }

 .nav-item-1 li {
    padding: 8px;
  }

 .nav-item-2 ul {
    display: flex;
    flex-direction: column;
  }

 .nav-item-2 li {
    padding: 8px;
  }

  /* FOOTER */
  .footer-container .row {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
  }
}


/* Mobile Size*/
@media (max-width:425px) {
    /* FOOTER */
  .footer-container .row {
    display: grid;
    grid-template-columns:  1fr;
    grid-gap: 20px;
  }
}

@media(max-width:375px) {
  nav .navbar-brand img {
    max-width: 180px;
    max-height: 180px;
    top: 15px;  
    margin-right: 70px;
  }
  
  nav .nav-item-2 .add-btn {
  position: relative;
  top: 10px;
  background: #EBBA32;
  padding: 10px 7px;
  border-radius: 5px;
  color: #ffffff;
  }
}

@media(max-width:320px) {
  nav .navbar-toggler {
    background: #EBBA32;
    font-size: 14px;
  }

  nav .nav-item-2 .add-btn {
    position: relative;
    top: 10px;
    background: #EBBA32;
    padding: 10px 3px;
    border-radius: 5px;
    color: #ffffff;
  }

  nav .navbar-brand img {
    max-width: 150px;
    max-height: 150px;
    top: 15px;  
    margin-right: 70px;
  }

  .newsletter input {
  max-width: 100%;
  margin: 5px 5px;
  padding: 5px;
}

.newsletter button {
  background: #EBBA32;
  color: #000000;
  margin: auto;
}
} 

@media screen and (max-width:110px) {
    .pricing-card {
        flex: 50%;
    }
}