<<<<<<< HEAD
@import url('https://fonts.googleapis.com/css2?family=Beth+Ellen&family=Ubuntu&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --google-color: #E85300;
    --slack-color: #5D0174;
}

body {
    height: 100vh;
    margin: 0;
    font-family: 'Ubuntu', sans-serif;
    line-height: auto;
    overflow-x: hidden;
}


/* 
button::-moz-focus-inner,
input[type="button"]::-moz-focus-inner,
input[type="submit"]::-moz-focus-inner,
input[type="reset"]::-moz-focus-inner {
    padding: 0;
    border: 0 none;
} */


/* Navbar Styling */
nav {
    background: #111111;
    position: sticky;
    background: rgba(0, 0, 0, 0.96);
    font-family: 'Ubuntu', sans-serif;
    width: 100%;
    padding: 40px 0;
  }
  
  nav .navbar-brand img {
    max-width: 230px;
    max-height: 230px;
    top: 15px;
    margin-right: 300px;
  }
  
  nav .nav-item-1 ul {
    display: flex;
    justify-content: space-between;
    top: 25px;
  }
  
  nav .nav-item-1 li {
    list-style-type: none;
    text-decoration: none;
  }
  
  nav .nav-item-1 li a {
    position: relative;
    top: 10px;
    color: #ffffff;
    padding: 20px;
    font-size: 15px;
    margin: 15px auto;
    text-decoration: none;
  } 
  
  nav .nav-item-1 li a:hover {
    color: #EBBA32;
  }
  
  nav .nav-item-1 .active{
    color: #EBBA32;
  }
  
  nav .nav-item-2 ul{
    display: flex;
    justify-content: space-between;
    position: relative;
  }
  
  nav .nav-item-2 li {
    list-style-type: none;
  }
  
  nav .nav-item-2 a {
    position: relative;
    top: 10px;
    padding: 8px;
    font-size: 15px;
    color: #ffffff;
    text-decoration: none;
  }
  
  nav .nav-item-2 a:hover {
    color: #EBBA32;
  }
  
  nav .nav-item-2 .add-btn {
    position: relative;
    top: 10px;
    background: #EBBA32;
    padding: 10px 20px;
    border-radius: 5px;
    color: #ffffff;
  }
  
  nav .nav-item-2 .add-btn:hover {
    color: #ffffff;
  } 
  


/* Sign Up Form Styling */

.signup-section{
    margin: 3rem 0;
}

h1 {
=======
<<<<<<< HEAD
        @import url(http://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300ita‌​lic,400italic,500,500italic,700,700italic,900italic,900);
html,
body,
html *,
::before,
::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}
=======
@import url('https://fonts.googleapis.com/css2?family=Beth+Ellen&family=Ubuntu&display=swap');
>>>>>>> 22abe2acff5ff21639da1cb50355204068688fda

/* font-family: 'Beth Ellen', cursive;
font-family: 'Ubuntu', sans-serif; */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height:100vh;
  margin: 0;
  font-family: 'Ubuntu', sans-serif;
  line-height: auto;
  overflow-x: hidden;
}

button::-moz-focus-inner, 
input[type="button"]::-moz-focus-inner, 
input[type="submit"]::-moz-focus-inner, 
input[type="reset"]::-moz-focus-inner {
  padding: 0;
  border: 0 none;
}

/* Navbar Styling */
nav {
  background: #111111;
  position: sticky;
  background: rgba(0, 0, 0, 0.96);
  font-family: 'Ubuntu', sans-serif;
  width: 100%;
}

nav .navbar-brand img {
  max-width: 280px;
  max-height: 280px;
  top: 15px;
  margin-right: 300px;
}

nav .nav-item-1 ul {
  display: flex;
  justify-content: space-between;
  top: 25px;
}

nav .nav-item-1 li {
  list-style-type: none;
  text-decoration: none;
}

nav .nav-item-1 li a {
  position: relative;
  top: 10px;
  color: #ffffff;
  padding: 35px;
  font-size: 18px;
  margin: 15px auto;
  text-decoration: none;
} 

nav .nav-item-1 li a:hover {
  color: #EBBA32;
}

<<<<<<< HEAD

/* call to action button */

.btn {
    display: inline-block;
    padding-top: 0.8rem;
    font-size: 15px;
    border-radius: 3px !important;
    line-height: 20px;
    color: #FFFFFF;
    transition: .3s;
    -webkit-transition: .3s;
    -moz-transition: .3s;
    -ms-transition: .3s;
    -o-transition: .3s;
    -webkit-border-radius: 3px !important;
    -moz-border-radius: 3px !important;
    -ms-border-radius: 3px !important;
    -o-border-radius: 3px !important;
}

.btn.solid,
.btn.transparent:hover {
    background: #EBBA32;
    border-radius: 5px;
    color: #fff;
}

.btn.transparent,
.btn.solid:hover {
    background-color: transparent;
    color: #fff;
    background: #EBBA32;
    border-radius: 2px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    -o-border-radius: 2px;
=======
nav .nav-item-1 .active{
  color: #EBBA32;
}

nav .nav-item-2 ul{
  display: flex;
  justify-content: space-between;
  position: relative;
>>>>>>> 22abe2acff5ff21639da1cb50355204068688fda
}

nav .nav-item-2 li {
  list-style-type: none;
}

nav .nav-item-2 a {
  position: relative;
  top: 10px;
  padding: 35px;
  font-size: 18px;
  color: #ffffff;
  text-decoration: none;
}

nav .nav-item-2 a:hover {
  color: #EBBA32;
}

<<<<<<< HEAD
.nav-link>a {
    line-height: 3rem;
    color: #fff;
    padding: 0 .8rem;
    letter-spacing: 1px;
    font-size: .95rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: .5s;
    -webkit-transition: .5s;
    -moz-transition: .5s;
    -ms-transition: .5s;
    -o-transition: .5s;
}

.nav-link:hover>a {
    /* transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1); */
    color: #EBBA32;
    /* border-bottom: #EBBA32 3px solid; */
}


/* hamburger styling */

.hamburger-menu-container {
    display: none;
    flex: 1;
    background-color: black;
    justify-content: flex-end;
}

.hamburger-menu {
    width: 2.5rem;
    height: 2.5rem;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
}

.hamburger-menu div {
    width: 1.6rem;
    height: 3px;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    background-color: #fff;
    position: relative;
    z-index: 1001;
    transition: .5s;
    -webkit-transition: .5s;
    -moz-transition: .5s;
    -ms-transition: .5s;
    -o-transition: .5s;
}

.hamburger-menu div:before,
.hamburger-menu div:after {
    content: '';
    position: absolute;
    width: inherit;
    height: inherit;
    background-color: #fff;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
}

.hamburger-menu div:before {
    transform: translateY(-7px);
    -webkit-transform: translateY(-7px);
    -moz-transform: translateY(-7px);
    -ms-transform: translateY(-7px);
    -o-transform: translateY(-7px);
}

.hamburger-menu div:after {
    transform: translateY(7px);
    -webkit-transform: translateY(7px);
    -moz-transform: translateY(7px);
    -ms-transform: translateY(7px);
    -o-transform: translateY(7px);
}

#check {
    display: none;
    position: absolute;
    top: 50%;
    right: 2rem;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    width: 2.5rem;
    height: 2.5rem;
    z-index: 90000;
    cursor: pointer;
    opacity: 0;
}

#check:checked~.hamburger-menu-container .hamburger-menu div {
    background-color: transparent;
}

#check:checked~.hamburger-menu-container .hamburger-menu div:before {
    transform: translateY(0) rotate(-45deg);
    -webkit-transform: translateY(0) rotate(-45deg);
    -moz-transform: translateY(0) rotate(-45deg);
    -ms-transform: translateY(0) rotate(-45deg);
    -o-transform: translateY(0) rotate(-45deg);
}

#check:checked~.hamburger-menu-container .hamburger-menu div:after {
    transform: translateY(0) rotate(45deg);
    -webkit-transform: translateY(0) rotate(45deg);
    -moz-transform: translateY(0) rotate(45deg);
    -ms-transform: translateY(0) rotate(45deg);
    -o-transform: translateY(0) rotate(45deg);
}

@keyframes animation {
    from {
        opacity: 0;
        transform: translateY(15px);
        -webkit-transform: translateY(15px);
        -moz-transform: translateY(15px);
        -ms-transform: translateY(15px);
        -o-transform: translateY(15px);
    }
    to {
        opacity: 1;
        transform: translateY(0px);
        -webkit-transform: translateY(0px);
        -moz-transform: translateY(0px);
        -ms-transform: translateY(0px);
        -o-transform: translateY(0px);
    }
=======
nav .nav-item-2 .add-btn {
  position: relative;
  top: 10px;
  background: #EBBA32;
  padding: 15px 30px;
  border-radius: 5px;
  color: #ffffff;
>>>>>>> 22abe2acff5ff21639da1cb50355204068688fda
}

nav .nav-item-2 .add-btn:hover {
  color: #ffffff;
} 

/* Sign Up Form Styling */

.signup-form,
.signup-image {
    width: 50%;
}

.signup-form {
    width: 50%;
    padding-left: 4.5em;
    object-fit: cover;
}

.signup-form .form-input {
    padding-top: 1.5em;
}

.signup-container {
    display: flex;
    padding-top: 1.5em;
}

.signup-btn-container {
    display: flex;
    padding-top: 1.5em;
}

.signup-btn-container div {
    padding-right: 1.2em;
}

h3 {
>>>>>>> bb0fb19cef312e74e5cdcab428b5b39132505bc7
    font-style: normal;
    font-weight: bold;
    font-size: 35px;
    line-height: 42px;
    color: #313236;
}

<<<<<<< HEAD
.first-container,
.last-container {
    margin-left: 12em;
}

.btn {
    width: 180px;
    height: 50px;
    border-radius: 15px;
    font-style: normal;
    font-weight: 600;
    font-size: 13px;
    line-height: 20px;
    color: #FFFFFF;
    border-style: double;
}

.google {
    background: var(--google-color) !important;
    color: #FFFFFF;
}

.slack {
    margin-left: 1em;
    border-radius: 15px;
    background: var(--slack-color);
}

.sign-up-container {
    width: 100%;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.left-container {
    padding-top: 3em;
    /*    margin-right: 1em;*/
}

.last-container{
    padding: 2rem 0;
}

#register-btn{
    margin: 1rem 0;
}

input {
    width: 34%;
    padding-top: 7px;
    height: 50px;
    background: #FFFFFF;
    border-radius: 10px;
    margin-top: 1em;
    /*  margin-right: : 2em;*/
=======
.google-btn {
    width: 220px;
    height: 58px;
    border-radius: 15px;
    background: var(--google-color);
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 20px;
    color: #FFFFFF;
}

.slack-btn {
    width: 220px;
    height: 58px;
    border-radius: 15px;
    background: var(--slack-color);
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 20px;
    color: #FFFFFF;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
}

input {
    width: 467px;
    height: 64px;
    background: #FFFFFF;
    border-radius: 10px;
}

input:focus {
    border: #EBBA32 5px solid;
>>>>>>> bb0fb19cef312e74e5cdcab428b5b39132505bc7
}

input[placeholder] {
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 20px;
    color: rgba(0, 0, 0, 0.45);
    padding-left: 10px;
}

<<<<<<< HEAD
input:focus {
    border: #EBBA32 4px solid;
}
textarea:focus {
    border: #EBBA32 4px solid;
}



.check {
    width: 10px;
    height: 10px;
}

.create-account-btn {
    width: 180px;
    height: 45px;
    background: #EBBA32;
    border-radius: 15px;
    font-style: normal;
    font-weight: 600;
    font-size: 13px;
    line-height: 20px;
    color: #FFFFFF;
}

/* FOOTER STYLING */
footer {
    background: #111111;
    color: #ffffff;
  }
  
  .footer-container {
    margin: auto;
    max-width: 90%;
    padding: 10px;
    text-align: center;
  }
  
  .footer-container img {
    max-width: 280px;
    max-height: 280px;
    margin: 20px;
  }
  
  .footer-container h3 {
    color: #EBBA32;
    font-size: 20px;
    text-align: center;
  }
  
  .footer-container .row {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    padding: 50px;
  }
  
  .row .quick li {
    list-style-type: none;
  }
  
  .row .quick a {
    text-decoration: none;
    color: #ffffff;
    line-height: 1.8;
  }
  
  .row .quick a:hover {
    color: #EBBA32;
  }
  
  .newsletter {
    text-align: center;
    max-width: 95%;
  }
  
  .newsletter input {
    max-width: 70%;
    margin: 5px 0px;
    padding: 5px;
    border-radius: 5px 0 0 5px;
  }
  .form-inline{
    display: flex;
  }
  
  .newsletter button {
    background: #EBBA32;
    color: #000000;
    border-radius: 0 5px 5px 0;
  
  }
  
  .follow-us span {
    padding: 13px;
    border-bottom: 1px dotted #333;
  }
  
  .follow-us span i {
    padding: 10px;
    font-size: 24px;
    
  }
  
  .follow-us span i:hover {
    color: #EBBA32;
  }
  
  .follow-us  p {
    padding: 15px;
  }
  


/* media screen for tablets */


/* Desktop Size*/

@media screen and (max-width:800px) {
    .first-container,
    .last-container {
        text-align: center;
        margin-left: 1em;
    }
}

@media screen and (max-width:473px) {
    .slack {
        margin-top: 1em;
    }
    input {
        text-align: center;
        width: 90%;
        padding-top: 7px;
        height: 50px;
        background: #FFFFFF;
        border-radius: 10px;
        margin-top: 1em;
        margin-right: 2em;
        margin-left: 2em;
    }
}


/* FOOTER */


/* Tablet Size */


/* FOOTER STYLING */


/* RESPONSIVENESS */


/* Tablet */


/* MINI TABLET */


/* BIGGER MOBILE */


/* MOBILE */
=======
.create-account-btn {
    width: 226px;
    height: 58px;
    background: #EBBA32;
    border-radius: 15px;
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 20px;
    color: #FFFFFF;
}

.btn-div {
    margin-top: 1.2em;
}

img {
    border-radius: 33px;
    object-fit: cover;
}

p {
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 23px;
    color: #5A656F;
    margin-bottom: 1.2em;
    margin-top: 1.2em;
}

p a {
    font-family: Muli;
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 23px;
    color: #5A656F;
}

small {
    margin-top: 1.5em;
}

small a {
    font-family: Muli;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 23px;
    color: #5A656F;
}

/* FOOTER */
footer {
  background: #111111;
  color: #ffffff;
}

.footer-container {
  margin: auto;
  max-width: 90%;
  padding: 10px;
  text-align: center;
}

.footer-container img {
  max-width: 400px;
  max-height: 400px;
  margin: 20px;
}

.footer-container h3 {
  color: #EBBA32;
  text-align: center;
}

.footer-container .row {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  padding: 50px;
}

.row .quick li {
  list-style-type: none;
}

.row .quick a {
  text-decoration: none;
  color: #ffffff;
  line-height: 1.8;
}

.row .quick a:hover {
  color: #EBBA32;
}

.newsletter {
  margin: auto;
  text-align: center;
  max-width: 70%;
}

.newsletter input {
  max-width: 100%;
  margin: 5px 5px;
  padding: 5px;
}

.newsletter button {
  background: #EBBA32;
  color: #000000;
  margin: auto;
}

.follow-us span {
  padding: 13px;
  border-bottom: 1px dotted #333;
}

.follow-us span i {
  padding: 10px;
  font-size: 24px;
}

.follow-us span i:hover {
  color: #EBBA32;
}

.follow-us  p {
  padding: 15px;
}

/* Responsiveness*/
/* Larger Desktop Size*/
@media (max-width:1440px) {
  .nav-flex {
    display: flex;
    justify-content: space-evenly;
  }

  nav .nav-item-1 a {
    position: relative;
    top: 10px;
    color: #ffffff;
    padding: 27px;
    font-size: 15px;
    margin: 15px auto;
    text-decoration: none;
 }

  nav .nav-item-2 li a {
    font-size: 15px;
    padding: 23px;
  }

  nav .nav-item-2 .add-btn {
    position: relative;
    top: 10px;
    background: #EBBA32;
    padding: 15px 10px;
    border-radius: 5px;
    color: #ffffff;
  }
}


/* Desktop Size*/
@media (max-width:1024px) {
  nav .navbar-brand img {
    max-width: 220px;
    max-height: 220px;
    top: 15px;  
    margin-right: 70px;
  }

    /* NAVBAR */
  .nav-flex {
    display: grid;
    grid-template-columns: 2fr 1fr;
  }

  nav .nav-item-1 a {
    position: relative;
    top: 10px;
    color: #ffffff;
    padding: 0 20px;
    font-size: 13px;
    margin: 15px auto;
    text-decoration: none;
 }

  nav .nav-item-2 li a {
    font-size: 13px;
    padding: 0 20px;
  }

  nav .nav-item-2 .add-btn {
  position: relative;
  top: 10px;
  background: #EBBA32;
  padding: 10px 10px;
  border-radius: 5px;
  color: #ffffff;
  }

  nav .nav-item-2 .add-btn:hover {
  color: #ffffff;
  }

    /* FOOTER */
  .footer-container {
    margin: auto;
    max-width: 98%;
    padding: 10px;
    text-align: center;
  }

  .footer-container img {
    max-width: 250px;
    max-height: 250px;
  }

  .footer-container h3 {
    font-size: 17px;
  }

  .row .about-us p {
    font-size: 13px;
  }

  .row .quick a {
    font-size: 13px;
  }

  .newsletter input {
    max-width: 60%;
    margin: 5px 5px;
    padding: 5px;
  }

  .follow-us span i {
    font-size: 17px;
  }

  .follow-us p {
    font-size: 13px;
  }
}


/* Tablet Size */
@media (max-width:768px) { 
  /* Navbar */
  nav .navbar-toggler {
    background: #EBBA32;
    font-size: 17px;
  }

  .nav-item-1 ul {
    display: flex;
    flex-direction: column;
  }

 .nav-item-1 li {
    padding: 8px;
  }

 .nav-item-2 ul {
    display: flex;
    flex-direction: column;
  }

 .nav-item-2 li {
    padding: 8px;
  }

  /* FOOTER */
  .footer-container .row {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
  }
}


@media screen and (max-width:1118px) {
    .signup-image {
        width: 50%;
    }
    .signup-image img {
        width: 90%;
        padding-left: 3rem;
        object-fit: cover;
    }
}

@media screen and (max-width:1028px) {
    .signup-image {
        display: none;
    }
    .signup-form {
        align-content: center;
        justify-content: center;
        margin: auto;
        padding-right: 6rem;
        align-items: center;
    }
}

@media (max-width:1015px) {
    /* signup styling */
    .signup-form {
        flex-direction: column;
    }
    .signup-image {
        width: 100vw;
    }
}

@media (max-width:920px) {
    .signup-form {
        margin-left: 9rem;
    }
}

@media (max-width:853px) {
    .signup-form {
        margin-left: 7rem;
    }
}

@media (max-width:710px) {
    .signup-form {
        margin-left: 5rem;
    }
}

@media (max-width:660px) {
    .signup-form {
        margin-left: 2rem;
    }
}

@media (max-width:595px) {
    .signup-form {
        margin-left: 0.7rem;
    }
}

<<<<<<< HEAD
<<<<<<< HEAD @media (max-width:570px) {
    =======@media (max-width: 574px) {
        >>>>>>> 3faff9e9e894fbd851f12bf1dc2a47212fa12fd7 .signup-container {
            width: 90%;
        }
        .signup-btn-container {
            <<<<<<< HEAD width: auto;
            =======width: 100%;
            >>>>>>>3faff9e9e894fbd851f12bf1dc2a47212fa12fd7
        }
        .signup-form {
            width: 90%;
        }
        <<<<<<< HEAD input {
            min-width: 80%;
            =======.google-btn,
            .slack-btn {
                width: 100px;
            }
            input {
                width: 400px;
                >>>>>>>3faff9e9e894fbd851f12bf1dc2a47212fa12fd7
            }
        }
        /* FOOTER STYLING */
        footer {
            background: #000000;
        }
        .footer-container {
            margin: auto;
            max-width: 80%;
        }
        .footer-container .subscribe {
            text-align: center;
            padding: 10px;
        }
        .footer-container .subscribe h1 {
            font-family: 'Ubuntu', sans-serif;
            color: #EBBA32;
            font-size: 13px;
            padding: 10px;
        }
        .footer-container .subscribe input {
            padding: 5px;
        }
        .footer-container .subscribe button {
            padding: 5px;
            background: #EBBA32;
            color: #000000;
        }
        .footer-container .footer-flex {
            display: flex;
            flex-direction: column;
            text-align: center;
            padding: 12px;
        }
        .footer-container .footer-flex hr {
            color: #EBBA32;
        }
        .footer-container .footer-flex .social-icon i {
            color: #EBBA32;
            padding: 10px;
        }
        .footer-container .footer-flex .social-icon i:hover {
            font-size: 16px;
        }
        .footer-container .footer-flex .elite {
            padding-top: 10px;
            font-family: 'Ubuntu', sans-serif;
            font-size: 13px;
            color: #EBBA32;
        }
        /* RESPONSIVENESS */
        /* Tablet */
        @media (max-width:1024px) {
            /* HAMBURGER MENU */
            #navbar .content-2 {
                height: 300px;
                position: fixed;
                top: 0;
                right: 0;
                left: 0;
                z-index: 10;
                display: grid;
                grid-template-columns: repeat(2, 1fr);
                background: #000000;
                color: #EBBA32;
                transition: top 1s ease;
                padding: 25px 300px;
                margin-top: 70px;
                display: none;
            }
            #navbar .content-2 .nav-item-1 ul {
                display: flex;
                flex-direction: column;
            }
            #navbar .content-2 .nav-item-2 ul {
                display: flex;
                flex-direction: column;
            }
            #navbar .content-2 li {
                padding: 12px;
            }
            #navbar .content-2 .closeMenu {
                display: block;
                position: absolute;
                top: 20px;
                right: 30px;
            }
            #navbar .content-2 .closeMenu i {
                color: #EBBA32;
            }
            #navbar .openMenu {
                display: block;
                top: 20px;
                left: 0;
            }
            /* ABOUT PAGE */
            .about-us .about-grid {
                display: grid;
                grid-template-columns: repeat(2, 1fr);
                margin: auto;
                max-width: 90%;
            }
            .about-us .about-grid .about-images img {
                margin-top: 130px;
                max-width: 500px;
                max-height: 500px;
            }
        }
        /* MINI TABLET */
        @media (max-width:768px) {
            /* HAMBURGER MENU */
            #navbar .content-2 {
                height: 300px;
                position: fixed;
                top: 0;
                right: 0;
                left: 0;
                z-index: 10;
                display: grid;
                grid-template-columns: repeat(2, 1fr);
                background: #000000;
                color: #EBBA32;
                transition: top 1s ease;
                padding: 25px 200px;
                margin-top: 70px;
                display: none;
            }
            /* ABOUT PAGE */
            .about-us .about-grid {
                display: grid;
                grid-template-columns: 1fr;
                margin: auto;
                max-width: 90%;
            }
            .about-us .about-grid .about-images {
                margin: 0 auto;
                max-width: 80%;
            }
            .about-us .about-grid .about-images img {
                margin-top: 0;
                margin-bottom: 15px;
                max-width: 580px;
                max-height: 580px;
            }
        }
        /* BIGGER MOBILE */
        @media (max-width:420px) {
            /* HAMBURGER MENU */
            #navbar .content-2 {
                height: 300px;
                position: fixed;
                top: 0;
                right: 0;
                left: 0;
                z-index: 10;
                display: grid;
                grid-template-columns: repeat(2, 1fr);
                background: #000000;
                color: #EBBA32;
                transition: top 1s ease;
                padding: 0 15px;
                margin-top: 70px;
                display: none;
            }
            /* ABOUT PAGE */
            .about-us .about-grid .about-images img {
                margin-top: 0;
                margin-bottom: 15px;
                max-width: 300px;
                max-height: 300px;
            }
            .footer-container .footer-flex .elite {
                padding-top: 10px;
                font-family: 'Ubuntu', sans-serif;
                font-size: 10px;
                color: #EBBA32;
            }
        }
        /* MOBILE */
        @media (max-width:320px) {
            /* HAMBURGER MENU */
            #navbar .content-2 {
                height: 250px;
                position: fixed;
                top: 0;
                right: 0;
                left: 0;
                z-index: 10;
                display: grid;
                grid-template-columns: 1fr;
                grid-gap: 10px;
                background: #000000;
                color: #EBBA32;
                transition: top 1s ease;
                margin-top: 70px;
                display: none;
            }
            #navbar .content-2 .closeMenu {
                display: block;
                top: 5px;
                right: 15px;
            }
            /* NAVBAR LOGO */
            .navbar-content .content-1 img {
                position: relative;
                top: 20px;
                max-width: 180px;
                max-height: 180px;
            }
            /* ABOUT PAGE */
            .about-us .about-grid .about-images img {
                margin-top: 0;
                margin-bottom: 15px;
                max-width: 230px;
                max-height: 230px;
            }
        }
=======
@media (max-width:574px) {
    .signup-container {
        width: 90%;
    }
    .signup-btn-container {
        width: 100%;
    }
    .signup-form {
        width: 90%;
    }
    .google-btn,
    .slack-btn {
        width: 100px;
    }
    input {
        width: 400px;
    }
}


/* Mobile Size*/
@media (max-width:425px) {
    /* FOOTER */
  .footer-container .row {
    display: grid;
    grid-template-columns:  1fr;
    grid-gap: 20px;
  }
}

@media(max-width:375px) {
  nav .navbar-brand img {
    max-width: 180px;
    max-height: 180px;
    top: 15px;  
    margin-right: 70px;
  }
  
  nav .nav-item-2 .add-btn {
  position: relative;
  top: 10px;
  background: #EBBA32;
  padding: 10px 7px;
  border-radius: 5px;
  color: #ffffff;
  }
}

@media(max-width:320px) {
  nav .navbar-toggler {
    background: #EBBA32;
    font-size: 14px;
  }

  nav .nav-item-2 .add-btn {
    position: relative;
    top: 10px;
    background: #EBBA32;
    padding: 10px 3px;
    border-radius: 5px;
    color: #ffffff;
  }

  nav .navbar-brand img {
    max-width: 150px;
    max-height: 150px;
    top: 15px;  
    margin-right: 70px;
  }

  .newsletter input {
  max-width: 100%;
  margin: 5px 5px;
  padding: 5px;
}

.newsletter button {
  background: #EBBA32;
  color: #000000;
  margin: auto;
}
} 
>>>>>>> 22abe2acff5ff21639da1cb50355204068688fda
>>>>>>> bb0fb19cef312e74e5cdcab428b5b39132505bc7
