@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;1,300&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Ubuntu', sans-serif;
}


/* Navbar Styling */

nav {
    background: #111111;
    position: sticky;
    background: rgba(0, 0, 0, 0.96);
    font-family: 'Ubuntu', sans-serif;
    width: 100%;
    padding: 40px 0;
}

nav .navbar-brand img {
    max-width: 230px;
    max-height: 230px;
    top: 15px;
    margin-right: 300px;
}

nav .nav-item-1 ul {
    display: flex;
    justify-content: space-between;
    top: 25px;
}

nav .nav-item-1 li {
    list-style-type: none;
    text-decoration: none;
}

nav .nav-item-1 li a {
    position: relative;
    top: 10px;
    color: #ffffff;
    padding: 20px;
    font-size: 15px;
    margin: 15px auto;
    text-decoration: none;
}

nav .nav-item-1 li a:hover {
    color: #EBBA32;
}

nav .nav-item-1 .active {
    color: #EBBA32;
}

nav .nav-item-2 ul {
    display: flex;
    justify-content: space-between;
    position: relative;
}

nav .nav-item-2 li {
    list-style-type: none;
}

nav .nav-item-2 a {
    position: relative;
    top: 10px;
    padding: 8px;
    font-size: 15px;
    color: #ffffff;
    text-decoration: none;
}

nav .nav-item-2 a:hover {
    color: #EBBA32;
}

nav .nav-item-2 .add-btn {
    position: relative;
    top: 10px;
    background: #EBBA32;
    padding: 10px 20px;
    border-radius: 5px;
    color: #ffffff;
}

nav .nav-item-2 .add-btn:hover {
    color: #ffffff;
}


/* Navbar Styling */

nav {
    background: #111111;
    position: sticky;
    background: rgba(0, 0, 0, 0.96);
    font-family: 'Ubuntu', sans-serif;
    width: 100%;
    padding: 40px 0;
}

nav .navbar-brand img {
    max-width: 230px;
    max-height: 230px;
    top: 15px;
    margin-right: 300px;
}

nav .nav-item-1 ul {
    display: flex;
    justify-content: space-between;
    top: 25px;
}

nav .nav-item-1 li {
    list-style-type: none;
    text-decoration: none;
}

nav .nav-item-1 li a {
    position: relative;
    top: 10px;
    color: #ffffff;
    padding: 20px;
    font-size: 15px;
    margin: 15px auto;
    text-decoration: none;
}

nav .nav-item-1 li a:hover {
    color: #EBBA32;
}

nav .nav-item-1 .active {
    color: #EBBA32;
}

nav .nav-item-2 ul {
    display: flex;
    justify-content: space-between;
    position: relative;
}

nav .nav-item-2 li {
    list-style-type: none;
}

nav .nav-item-2 a {
    position: relative;
    top: 10px;
    padding: 8px;
    font-size: 15px;
    color: #ffffff;
    text-decoration: none;
}

nav .nav-item-2 a:hover {
    color: #EBBA32;
}

nav .nav-item-2 .add-btn {
    position: relative;
    top: 10px;
    background: #EBBA32;
    padding: 10px 20px;
    border-radius: 5px;
    color: #ffffff;
}

nav .nav-item-2 .add-btn:hover {
    color: #ffffff;
}


/*content  */

.general-container {
    display: flex;
    justify-content: left;
    width: 600px;
}

.main-container {
    margin: 20px;
}

.sub-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 400px;
    background: linear-gradient(50% black, 50%white);
}

.sub-container input {
    height: 148px;
    width: 154px;
    border-radius: 50%;
}

.sub-container input img {
    align-self: center;
}

.sub-container button .btn {
    z-index: -1;
}

.sub-container button a {
    z-index: 1000;
    color: #212529 !important;
    font-weight: 900;
}

.sub-container h3 {
    height: 1rem;
    width: 300px;
    -ms-high-contrast-adjust: 20.47;
    position: relative;
    top: 20px;
    text-align: center;
    letter-spacing: 0em;
    font-family: " Ubuntu";
    font-size: 14px;
    font-weight: bold;
    letter-spacing: 0em;
    left: 0px;
    margin-bottom: 25px;
}

.sub-container button {
    display: inline-block;
    position: relative;
    color: #000;
    background-color: #f8c800;
    left: 0;
    z-index: 3;
    font-weight: bold;
    text-align: center;
    letter-spacing: 0em;
    color: #000000;
    font-family: " Work Sans ,Ubuntu";
    font-size: 14px;
    text-align: center;
    border-radius: 6px;
}

.list-group a {
    text-decoration: none;
    font-size: 16px;
    line-height: 16px;
    text-align: left;
    text-transform: capitalize;
    color: #919191;
    background: transparent;
    font-weight: 400;
}

.list-group-item i {
    color: #919191;
    margin-right: 20px;
    align-items: left;
    font-weight: 900;
    font-size: 16px;
    line-height: 16px
}

.list-group button:nth-child(odd) {
    background: #fcfcfc;
    z-index: 1;
    border-bottom: 1px solid #ddd;
}


/* .list-group-item:hover,
    .list-group a:hover,
    .list-group i:hover {
        /* border-left-style: solid; 
    
    margin-right: 5px;
    z-index: 100;
    color: #EBBA32
}*/

.list-group button:hover {
    color: #EBBA32;
    transition: all 0.1s ease-in-out;
    border-left: 8px solid#EBBA32;
}

.list-group a:hover {
    color: #EBBA32;
}


/* .list-group-item:hover {
       
    } */

.list-group button {
    border-left-style: hidden;
    border-right-style: hidden;
}

div a {
    color: #3A4151;
    text-decoration: none;
}

div a:hover {
    text-decoration: none;
    transition: 2ms all ease-in-out;
    cursor: pointer;
}


/* registration form */

.registration-form {
    position: relative;
    align-items: left;
    left: 70px;
    justify-content: left;
    position: relative;
    /* left: 10000px; */
    right: 0px;
    height: 1150px;
    top: 0px;
    margin-left: 0;
    margin-top: 20px;
}

.registration-form div h2 {
    font-weight: bold;
    font-size: 18px;
    line-height: 20px;
}

.registration-form .span {
    line-height: 3;
    display: inline-block;
    background-color: #f8c800 !important;
    padding: 10px;
    z-index: -1;
}


/* .registration-form .span::after {
    content: '\e866';
} */

span .fas {
    margin-left: 80px
}

.span h4 {
    color: #fff;
    font-size: 14px;
    line-height: 20px;
}

.registration-form span h4 {
    font-size: 16px;
}

.fine {
    position: relative;
}

.fine h2 {
    position: relative;
    left: 10px;
    font-size: 20px;
    top: 80px;
}

.fine .fas {
    left: 100px;
    position: relative;
    top: -40px;
    margin-bottom: 20px;
}

.sub-registration-form {
    width: 950px;
    height: 900px;
    /* margin: auto; */
    /* background: url(/assets/img/yellowbg.png) no-repeat center center/cover; */
    padding: 0;
    padding-top: 20px;
    border-radius: 12px 12px 0 0;
    color: #fff;
}

.sub-registration-form form input,
.sub-registration-form form select {
    width: 300px;
    height: 40px;
    margin: 0 50px 20px 0;
}

.input {
    width: 100p;
}

input:focus,
select:focus,
textarea:focus {
    border: #EBBA32 5px solid;
    /* background-color: #fffcff; */
    color: rgba(0, 0, 0);
}

textarea {
    margin-bottom: 20px;
    width: 650px !important;
    padding-top: 15px
}

input[placeholder],
.select,
textarea {
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 15px;
    padding-left: 10px;
    color: rgb(0, 0, 0)
}

.form-input {
    /* margin-bottom: 15px; */
    display: inline;
}

form {
    display: flex;
    width: 700px;
    justify-content: left;
    flex-direction: row;
    flex-wrap: wrap;
}

form input {
    width: 200px;
}

.input-grey {
    background: #FEF9EA;
}

hr {
    margin: 0px
}

#checkbox-container {
    display: flex;
    gap: 20px;
    margin: 12px;
}

.sub-registration-form form h2,
.sub-registration-form .location h2 {
    width: 100%;
    font-size: 18px;
    line-height: 20px;
    /* font-weight: bold; */
    text-align: left;
    text-transform: capitalize;
    color: #000000;
}

.buttons {
    margin-top: 2rem;
}

.input {
    padding: 20px;
}

.input i {
    width: 20px;
    height: 20px;
    margin: 10px
}


/* footer */


/* FOOTER STYLING */

footer {
    background: #111111;
    color: #ffffff;
}

.footer-container {
    margin: auto;
    max-width: 90%;
    padding: 10px;
    text-align: center;
}

.footer-container img {
    max-width: 280px;
    max-height: 280px;
    margin: 20px;
}

.footer-container h3 {
    color: #EBBA32;
    font-size: 20px;
    text-align: center;
}

.footer-container .row {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    padding: 50px;
}

.row .quick li {
    list-style-type: none;
}

.row .quick a {
    text-decoration: none;
    color: #ffffff;
    line-height: 1.8;
}

.row .quick a:hover {
    color: #EBBA32;
}

.newsletter {
    text-align: center;
    max-width: 95%;
}

.newsletter input {
    max-width: 70%;
    margin: 5px 0px;
    padding: 5px;
    border-radius: 5px 0 0 5px;
}

.form-inline {
    display: flex;
}

.newsletter button {
    background: #EBBA32;
    color: #000000;
    border-radius: 0 5px 5px 0;
}

.follow-us span {
    padding: 13px;
    border-bottom: 1px dotted #333;
}

.follow-us span i {
    padding: 10px;
    font-size: 24px;
}

.follow-us span i:hover {
    color: #EBBA32;
}

.follow-us p {
    padding: 15px;
}


/* Responsiveness*/


/* Larger Desktop Size

@media (max-width:1440px) {
    .nav-flex {
        display: flex;
        justify-content: space-evenly;
    }
    nav .nav-item-1 a {
        position: relative;
        top: 10px;
        color: #ffffff;
        padding: 27px;
        font-size: 15px;
        margin: 15px auto;
        text-decoration: none;
    }
    nav .nav-item-2 li a {
        font-size: 15px;
        padding: 23px;
    }
    nav .nav-item-2 .add-btn {
        position: relative;
        top: 10px;
        background: #EBBA32;
        padding: 15px 10px;
        border-radius: 5px;
        color: #ffffff;
    }
}


/* Desktop Size*/

@media (max-width:1024px) {
    nav .navbar-brand img {
        max-width: 220px;
        max-height: 220px;
        top: 15px;
        margin-right: 70px;
    }
    /* NAVBAR */
    .nav-flex {
        display: grid;
        grid-template-columns: 2fr 1fr;
    }
    nav .nav-item-1 a {
        position: relative;
        top: 10px;
        color: #ffffff;
        padding: 0 20px;
        font-size: 13px;
        margin: 15px auto;
        text-decoration: none;
    }
    nav .nav-item-2 li a {
        font-size: 13px;
        padding: 0 20px;
    }
    nav .nav-item-2 .add-btn {
        position: relative;
        top: 10px;
        background: #EBBA32;
        padding: 10px 10px;
        border-radius: 5px;
        color: #ffffff;
    }
    nav .nav-item-2 .add-btn:hover {
        color: #ffffff;
    }
    /* FOOTER */
    .footer-container {
        margin: auto;
        max-width: 98%;
        padding: 10px;
        text-align: center;
    }
    .footer-container img {
        max-width: 250px;
        max-height: 250px;
    }
    .footer-container h3 {
        font-size: 17px;
    }
    .row .about-us p {
        font-size: 13px;
    }
    .row .quick a {
        font-size: 13px;
    }
    .newsletter input {
        max-width: 60%;
        margin: 5px 5px;
        padding: 5px;
    }
    .follow-us span i {
        font-size: 17px;
    }
    .follow-us p {
        font-size: 13px;
    }
}


/* Tablet Size */

@media (max-width:768px) {
    /* Navbar */
    nav .navbar-toggler {
        background: #EBBA32;
        font-size: 17px;
    }
    .nav-item-1 ul {
        display: flex;
        flex-direction: column;
    }
    .nav-item-1 li {
        padding: 8px;
    }
    .nav-item-2 ul {
        display: flex;
        flex-direction: column;
    }
    .nav-item-2 li {
        padding: 8px;
    }
    /* FOOTER */
    .footer-container .row {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 20px;
    }
}


/* Mobile Size*/

@media (max-width:425px) {
    .main-content h3 {
        font-family: 'Beth Ellen', cursive;
        color: #FFFFFF;
        font-size: 30px;
        margin: 15px 0;
    }
    /* FOOTER */
    .footer-container .row {
        display: grid;
        grid-template-columns: 1fr;
        grid-gap: 20px;
    }
}

@media(max-width:375px) {
    nav .navbar-brand img {
        max-width: 180px;
        max-height: 180px;
        top: 15px;
        margin-right: 70px;
    }
    nav .nav-item-2 .add-btn {
        position: relative;
        top: 10px;
        background: #EBBA32;
        padding: 10px 7px;
        border-radius: 5px;
        color: #ffffff;
    }
}

@media(max-width:320px) {
    nav .navbar-toggler {
        background: #EBBA32;
        font-size: 14px;
    }
    nav .nav-item-2 .add-btn {
        position: relative;
        top: 10px;
        background: #EBBA32;
        padding: 10px 3px;
        border-radius: 5px;
        color: #ffffff;
    }
    nav .navbar-brand img {
        max-width: 150px;
        max-height: 150px;
        top: 15px;
        margin-right: 70px;
    }
    .newsletter input {
        max-width: 100%;
        margin: 5px 5px;
        padding: 5px;
    }
    .newsletter button {
        background: #EBBA32;
        color: #000000;
        margin: auto;
    }
}

*/